<ion-header *ngIf="!this.stickytoolbar" class="logo-nav-container-sticky">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/Logo.png" style="height: 60px" />
    </ion-title>
    <ion-buttons slot="end" class="nav-buttons">
      <ion-button *ngIf="collapse" (click)="toggleDropdown()">
        <ion-icon name="reorder-four-outline"></ion-icon>
      </ion-button>

      <div *ngIf="" class="dropdown-menu" [class.expanded]="showDropdown">
        <ion-button routerLink="/" href="#">Home</ion-button>
        <ion-button routerLink="/projects" href="#">Projects</ion-button>
        <ion-button routerLink="/news" href="#">News</ion-button>
        <ion-button routerLink="/team" href="#">Team</ion-button>
        <ion-button routerLink="/contact" href="#">Contact Us</ion-button>
      </div>

      <ng-container *ngIf="!collapse">
        <ion-button style="--color: black" routerLink="/" href="#"
          >Home</ion-button
        >
        <ion-button routerLink="/projects" href="#">Projects</ion-button>
        <ion-button routerLink="/news" href="#">News</ion-button>
        <ion-button routerLink="/team" href="#">Team</ion-button>
        <ion-button routerLink="/contact" href="#">Contact Us</ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div>
    <div
      *ngIf="collapse && showDropdown"
      class="dropdown-menu"
      [class.expanded]="showDropdown"
    >
      <ion-button routerLink="/" href="#">Home</ion-button>
      <ion-button routerLink="/projects" href="#">Projects</ion-button>
      <ion-button routerLink="/news" href="#">News</ion-button>
      <ion-button routerLink="/team" href="#">Team</ion-button>
      <ion-button routerLink="/contact" href="#">Contact Us</ion-button>
    </div>
  </div>

  <div *ngIf="this.stickytoolbar" class="logo-nav-container">
    <img src="assets/icon/Logo.png" class="logo-image" />

    <ion-buttons slot="end" class="nav-buttons">
      <ion-button *ngIf="collapse" (click)="toggleDropdown()">
        <ion-icon name="reorder-four-outline"></ion-icon>
      </ion-button>

      <ng-container *ngIf="!collapse">
        <ion-button  routerLink="/" href="#"
          >Home</ion-button
        >
        <ion-button  routerLink="/projects" href="#">Projects</ion-button>
        <ion-button routerLink="/news" href="#">News</ion-button>
        <ion-button routerLink="/team" href="#">Team</ion-button>
        <ion-button class="selected-page" routerLink="/contact" href="#">Contact Us</ion-button>
      </ng-container>
    </ion-buttons>
  </div>

  <div>
    <img src="/assets/images/NavBarBackground.png" alt="Background Image" class="NavBarBackground" />
</div>

<div class="about-the-company" style="width: -webkit-fill-available;">
  <h2>Contact us</h2>

  <div class="contact-image column-reverse">
    <div class="mission" style=" flex-basis: 50%;">
      <ion-list style="background: transparent;">
        <ion-item style="--background: transparent;">
          <a href="mailto:info@ridgeline.com.np" style="text-decoration: none; width: 100%;">
          <ion-input class="email" readonly style="color: black; cursor: pointer;" labelPlacement="floating" value="info@ridgeline.com.np">
            <div style="color: grey;" slot="label">Email</div>
          </ion-input>
        </a>
        </ion-item>
        <ion-item style="--background: transparent;">
          <ion-input readonly style="color: black;" labelPlacement="floating" value="01-5900114">
            <div style="color: grey;" slot="label">Call us</div>
          </ion-input>
        </ion-item>
        <ion-item readonly style="--background: transparent;">
          <ion-input style="color: black;" labelPlacement="floating" value="Kupondole, Lalitpur, Nepal">
            <div style="color: grey;" slot="label">Visit us</div>
          </ion-input>
        </ion-item>
      </ion-list>

      <div style="height: 400px;">
      <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.9271601405408!2d85.31099447546671!3d27.6886460761933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19b9ca7b3ea5%3A0xa2cc061c8684e955!2sRidge%20Line%20Energy%20Co.!5e0!3m2!1sen!2snp!4v1735723680315!5m2!1sen!2snp"
      width="100%"
      height="100%"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
    </div>

    <div  style=" flex-basis: 50%;">
      <img
        src="assets/images/contactUs.jpg"
        class="slide-down"
        #animatedImage
        alt="Vision Image"
      />
    </div>
  </div>

</div>



<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <div class="footer-content">
      <div class="footer-section footer-left">
        <img
          style="max-width: 160px; margin-bottom: 30px;
"
          src="assets/icon/Logo.png"
          alt="Company Logo"
          class="footer-logo"
        />

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.9271601405408!2d85.31099447546671!3d27.6886460761933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19b9ca7b3ea5%3A0xa2cc061c8684e955!2sRidge%20Line%20Energy%20Co.!5e0!3m2!1sen!2snp!4v1735723680315!5m2!1sen!2snp"
          width="80%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>

      <div class="footer-section footer-center" style="text-align: left">
        <h2><b>Reach out </b></h2>
        <p>
          <ion-icon name="location" class="location-icon"></ion-icon>
          Kupondole, Lalitpur, Nepal
        </p>

        <p>
          <ion-icon name="call"></ion-icon>
          01-5900114
        </p>
        <p>
          <ion-icon name="mail"></ion-icon>
          <a href="info@ridgeline.com.np">info&#64;ridgeline.com.np</a>
        </p>
      </div>

      <div class="footer-section footer-right">
        <h2><b>Quick Links</b></h2>

        <p>
          <a routerLink="/projects" href="#">Projects</a>
        </p>
        <p>
          <a routerLink="/news" href="#">News</a>
        </p>
        <p>
          <a routerLink="/about-us" href="#">About us</a>
        </p>
        <p>
          <a routerLink="/contact" href="#">Contact us</a>
        </p>
      </div>
    </div>


  </ion-toolbar>
</ion-footer>

  <div class="footer-section footer-bottom">
    <p style="margin-left: 40px;">Ridge Line Energy Ltd. 2025 | All Right Reserved
    </p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
